* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#display {
    background-color: rgb(255, 0, 130);
    width: 350px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: 500;
    font-size: 42px;
    text-align: right;
    padding: 18px 50px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 350px;
}

button {
    border-radius: 50%;
    border: none;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: 34px;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.digit {
    background-color: rgb(255, 0, 130);
}

.digit:hover {
    background-color: rgb(255, 0, 130, 50);
}

.operation {
    background-color: rgb(0, 255, 0);
}

#clear {
    font-size: 28px;
    width: 170px;
    border-radius: 50px;
}

#equals {
    width: 170px;
    border-radius: 50px;
}

